* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/028/127/395/small/ai-robot-sitting-down-holding-a-briefcase-waiting-for-a-job-interview-generative-ai-photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    


}
.navbar {
  position: fixed;      
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  color: whitesmoke;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 
  border-radius: 12px;
}


.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    color: gainsboro;
    margin-left: 25px;
    gap: 20px;
    
}
.btn.primary{
    background-color: orange; 
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px ;
    cursor: pointer;
    border-radius: 8px;
     transition: background-color 0.5s ease-in-out;
}
.btn{
    background-color: whitesmoke; 
    border: none;
    color: orange;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px ;
    cursor: pointer;
    border-radius: 8px;
}
.nav-btn{
    border: 2px solid whitesmoke;
    color: whitesmoke;
    padding: 10px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px ;
    cursor: pointer;
    border-radius: 8px;
}
.btn.primary:hover{
    background-color: whitesmoke;
    color: black;
    transition: background-color 0.5s ease-in-out;

}
.btn:hover{
    background-color: orange;
    color: black;
    transition: background-color 0.5s ease-in-out;

}
.nav-btn:hover{
    text-decoration: underline;
}


